$enableText: #333333;
$disableText: #9e9e9e;
$inactiveText: #9e9e9e;
$activeText: #777777;
$contentHover: #eeeeee;
$defaultText: #295bbb;
$selectedRow: #b2ebf2;
$selectedItem: #80deea;
$accent: #ff5757;
$accentHover: #e63e3e;
$error: #ff1414;
$navBar: #192f57;
$appBar: #223c6e;
$separator: #e2e2e2;
